#raffleTitle{
    -fx-text-fill: linear-gradient(to bottom, #ff7f50, #6a5acd);
}

#raffleButton{
    -fx-graphic: url('icons/tickets.png');
    -fx-background-color: transparent;
}

#reorderButton{
    -fx-graphic: url('icons/reload.png');
    -fx-background-color: transparent;
}

#winner{
    -fx-font: 50px Tahoma;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, repeat, aqua 0%, blue 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}


//Style of entire tableView
.table-view{
    /*-fx-background-color: transparent;*/
 }

 //Style of entire tableView when is getting focused
.table-view:focused{
    /*-fx-background-color: transparent;*/
}



//Style of each column header in the tableView
.table-view .column-header {
     -fx-background-color: transparent;
} 

//Style of each column header's background in the tableView
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

 //Style of each column header's label  in the tableView
.table-view .column-header-background .label{
     -fx-background-color: transparent; 
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

//Style of each column in the tableView
.table-view .table-column{
    -fx-alignment:center;
}

 //Style of each table cell
.table-view .table-cell{
    -fx-font-weight:bold;
    -fx-font-size:35px;           
    /* -fx-text-fill:orange; */

}


//Style for each < non odd> row of table view
/* .table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em; 
}

//Style for each <odd> row of table view
.table-row-cell:odd{
    -fx-background-color: orange;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;  
}
*/

//Style of each entire row in the table view
.table-row-cell:selected {
   /* -fx-border-color:transparent firebrick transparent firebrick  ;
    -fx-border-width:2.0; */
}


//Style of each entire row in the table view when is hovered
.table-row-cell:hover {
    /*-fx-background-color:orange;*/
}

//Style of each entire row in the table view when is getting focused
.table-row-cell:focused {
    /*-fx-background-color:purple;*/
}
